APP_ENV=development
APP_NAME=metricas-financeiro-api
LOG_LEVEL=debug

UTMIFY_MCP_URL=https://mcp.utmify.com.br/mcp/?token=MqON6q5AJPhgToN4GIwThRxwhoQHZ5TMJLS2TUQRxWJNFDgFl0HKv9dnKdQRIwS6

DATABASE_URL=postgresql://postgres:msGoWtijdJPAWfrHNiNAeddZTCXYhFpe@postgres.railway.internal:5432/railway
DATABASE_MAX_CONNS=10
DATABASE_MIN_CONNS=2
DATABASE_MAX_CONN_LIFETIME=30m
DATABASE_MAX_CONN_IDLE_TIME=15m

REDIS_URL=redis://default:zfdHWZIOsnoMokGkjzxZgvhYLtSQrmLB@redis.railway.internal:6379
REDIS_PASSWORD=zfdHWZIOsnoMokGkjzxZgvhYLtSQrmLB
REDIS_DB=0

ASYNQ_CONCURRENCY=10
ASYNQ_CRITICAL_WEIGHT=6
ASYNQ_DEFAULT_WEIGHT=3
ASYNQ_LOW_WEIGHT=1

JWT_SECRET=20EExLaC4yAxgDFcmaDaeNkrat1V1hXpUcdm00tokqb0sRn2RbkSEpdvy2tETQKL
